node_modules/
dist/
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/capacitor-cordova-android-plugins/build/
*.log
.DS_Store

platform-tools/
Orion-APK.apk
Orion-APK.zip
apk-out/
